body {
    font-family: monospace;
    background-image: linear-gradient(rgb(0, 18, 179), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-color: black;
}

.container {
    border-radius: 2%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.main {
    margin-top: 0%;
    padding: 100px;
    margin-left: 100px;
    margin-right: 250px;
    margin-bottom: 10%;
}

p {
    float: left;
    font-size: 1.4vw;
    font-weight: bold;
    margin-left: 10%;
    color: aliceblue;
    font-style: italic;
    text-align: left;
    text-transform: uppercase;
}


img {
    float: right;
    margin-right: 4%;
    width: 30vw;
    border-radius: 5%;
    border-width: 2px;
    border-style: dashed;
    border-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.299);
    animation: motion-img 1s 0.1s infinite linear alternate;
}

.footer {
    margin-top: 30%;
    padding: 2%;
    font-size: 10px;
    text-align: center;
    color: aliceblue;
}

/* Media queries to the rescue*/

@media (min-width: 1010px) {

    a {
        padding: 20%;
        color: aliceblue;
        font-weight: bold;
        font-size: 16px !important;

    }

    p:hover {
        opacity: 0.8;
    }

    img:hover {
        opacity: 0.8;
    }

}

@media (max-width: 1200px) {


    .main {
        margin: auto;
        padding: 10px;
        margin-left: 10px;
        margin-right: 500px;
    }

    p {
        font-size: 15px;
        font-weight: bold;
        color: aliceblue;
        padding-bottom: 30px;
    }

    img {
        width: 200px;
        border-radius: 5%;
        border-width: 2px;
        border-style: dashed;
        border-color: rgb(255, 255, 255);
        box-shadow: 20px;
    }


    .footer {
        font-size: 5px;
        text-align: center;
        color: aliceblue;

    }
}



@media (max-width: 1000px) {


    .main {
        margin: auto;
        padding: 10px;
        margin-left: 50px;
        margin-right: 400px;
    }

    p {
        font-size: 15px;
        font-weight: bold;
        color: aliceblue;
        padding-bottom: 30px;
    }

    img {
        width: 200px;
        border-radius: 5%;
        border-width: 2px;
        border-style: dashed;
        border-color: rgb(255, 255, 255);
        box-shadow: 20px;
    }


    .footer {
        font-size: 5px;
        text-align: center;
        color: aliceblue;

    }
}

@media (max-width: 900px) {



    .main {
        margin: auto;
        padding: 10px;
        margin-left: 50px;
        margin-right: 250px;
    }

    p {
        font-size: 15px;
        font-weight: bold;
        color: aliceblue;
        padding-bottom: 30px;
    }

    img {
        width: 200px;
        border-radius: 5%;
        border-width: 2px;
        border-style: dashed;
        border-color: rgb(255, 255, 255);
        box-shadow: 20px;
    }


    .footer {
        font-size: 5px;
        text-align: center;
        color: aliceblue;

    }



}

@media (max-width: 800px) {



    .main {
        margin: auto;
        padding: 10px;
        margin-left: 50px;
        margin-right: 150px;
    }

    p {
        font-size: 15px;
        font-weight: bold;
        color: aliceblue;
        padding-bottom: 30px;
    }

    img {
        width: 200px;
        border-radius: 5%;
        border-width: 2px;
        border-style: dashed;
        border-color: rgb(255, 255, 255);
        box-shadow: 20px;
    }


    .footer {
        font-size: 5px;
        text-align: center;
        color: aliceblue;

    }



}

@media (max-width: 680px) {


    li {
        list-style-type: none;
        padding: 3%;

    }

    a {
        color: aliceblue;
        text-shadow: yellow;
        font-weight: bold;
        font-size: 8px;
        text-decoration: dashed solid;
        text-decoration-color: rgb(255, 255, 255);
    }

    .main {
        margin: auto;
        padding: 10px;
        margin-left: 50px;
        margin-right: 100px;
    }

    p {
        font-size: 15px;
        font-weight: bold;
        color: aliceblue;
        padding-bottom: 30px;
    }

    img {
        width: 200px;
        border-radius: 5%;
        border-width: 2px;
        border-style: dashed;
        border-color: rgb(255, 255, 255);
        box-shadow: 20px;
    }

}

@media (max-width: 580px) {


    li {
        list-style-type: none;
        padding: 3%;

    }

    a {
        color: aliceblue;
        text-shadow: yellow;
        font-weight: bold;
        font-size: 8px;
        text-decoration: dashed solid;
        text-decoration-color: rgb(255, 255, 255);
    }

    .main {
        margin: auto;
        padding: 10px;
        margin-left: 50px;
        margin-right: 100px;
    }


    p {
        font-size: 12px;
        font-weight: bold;
        color: aliceblue;
    }

    img {
        width: 150px;
        border-radius: 5%;
        border-width: 2px;
        border-style: dashed;
        border-color: rgb(255, 255, 255);
        box-shadow: 20px;
    }

}

@media (max-width: 500px) {



    li {
        list-style-type: none;
        padding: 3%;

    }

    a {
        color: aliceblue;
        text-shadow: yellow;
        font-weight: bold;
        font-size: 8px;
        text-decoration: dashed solid;
        text-decoration-color: rgb(255, 255, 255);
    }

    .main {
        margin: auto;
        padding: 10px;
        margin-left: 10px;
        margin-right: 130px;
    }

    p {
        font-size: 10px;
        font-weight: bold;
        color: aliceblue;
    }

    img {
        width: 150px;
        border-radius: 5%;
        border-width: 2px;
        border-style: dashed;
        border-color: rgb(255, 255, 255);
    }

}

@media (max-width: 480px) {

    li {
        list-style-type: none;
        padding: 3%;

    }

    a {
        color: aliceblue;
        text-shadow: yellow;
        font-weight: bold;
        font-size: 8px;
        text-decoration: dashed solid;
        text-decoration-color: rgb(255, 255, 255);
    }

    .main {
        margin: auto;
        padding: 10px;
        margin-left: 10px;
        margin-right: 120px;
    }

    p {
        font-size: 9px;
        font-weight: bold;
        color: aliceblue;
    }

    img {
        width: 120px;
        border-radius: 5%;
        border-width: 2px;
        border-style: dashed;
        border-color: rgb(255, 255, 255);
    }

}

@media (max-width: 410px) {


    li {
        list-style-type: none;
        padding: 3%;

    }

    a {
        color: aliceblue;
        text-shadow: yellow;
        font-weight: bold;
        font-size: 8px;
        text-decoration: dashed solid;
        text-decoration-color: rgb(255, 255, 255);
    }

    .main {
        margin: auto;
        padding: 10px;
        margin-left: 10px;
        margin-right: 100px;
    }

    p {
        font-size: 8px;
        font-weight: bold;
        color: aliceblue;
    }

    img {
        width: 100px;
        border-radius: 5%;
        border-width: 2px;
        border-style: dashed;
        border-color: rgb(255, 255, 255);
    }

}

@media (max-width: 360px) {

    li {
        list-style-type: none;
        padding: 3%;

    }

    a {
        color: aliceblue;
        text-shadow: yellow;
        font-weight: bold;
        font-size: 8px;
        text-decoration: dashed solid;
        text-decoration-color: rgb(255, 255, 255);
    }

    .main {
        margin: auto;
        padding: 10px;
        margin-left: 10px;
        margin-right: 110px;
        margin-bottom: 30px;
    }

    p {
        font-size: 6px;
        font-weight: bold;
        color: aliceblue;
    }

    img {
        width: 80px;
        border-radius: 5%;
        border-width: 2px;
        border-style: dashed;
        border-color: rgb(255, 255, 255);
    }


}

.clouds1 {
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 70%;
    padding: 7%;
    border-radius: 100%;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.377);
    box-shadow: inset -20px -20px 30px rgb(2, 0, 0);
    animation: motion 10s 0.4s infinite linear alternate;
    opacity: 0.4;
}

.clouds2 {
    margin-top: 30%;
    margin-left: 10%;
    padding: 6%;
    border-radius: 100%;
    background-color: rgb(23, 0, 0);
    box-shadow: inset -20px -20px 30px rgb(2, 0, 0);
    animation: motion 8s 0.2s infinite linear alternate;
    opacity: 0.4;
}

.clouds3 {
    padding: 4%;
    border-radius: 100%;
    background-color: rgb(23, 0, 0);
    box-shadow: inset -20px -20px 30px rgb(2, 0, 0);
    animation: motion 7s 0.3s infinite linear alternate;
    opacity: 0.4;
}

@keyframes motion {
    0% {
        position: absolute;
        width: 0px;
        height: 0px;
        background: rgba(255, 255, 255, 0.053);
    }

    100% {
        position: absolute;
        width: 100px;
        height: 100px;
        background: rgba(175, 175, 175, 0.13);
    }
}